.btn{
  padding: 10px 15px;
  outline: none;
  border: none;
  background-color: blue;
  color: white;
  min-width: 100px;
  max-width: 150px;
  width: 10%;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.block{
  width: 50%;
  height: 400px;
  overflow: auto;
}